
.button-groups{
    font-size: large;
}
.header2{
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   margin-bottom: -1rem;
    color:black;
 
    background:dimgrey;
} 
 .header3{
  margin-top: -12rem;
  font-family: 'Times New Roman', Times, serif;
 } 



.boxes {
    width:110%;
    height: 45%;
    margin-left: -30px;
    margin-right: 50px;
}  
.contain5{

}
.boxes5 {
    width:110%;
    height: 45%;
    margin-left: -30px;
    margin-right: 50px;
} 
.contain{
    padding-top: 24rem;
}
/* .typer{
    width: 97.8%;
    margin-left: 13.5px;
height: 44;
    
} */

.card-content1{
    height:150px;
  width:100%;
  border:1px solid #ccc;
  text-align:center;
  color: darkorange;
  margin-top: 35px;
}

.card-action {
    text-align: center;
}

.card-title{
    color: darkorange;
    
}
.card-title2{
    color: darkorange;
    font-size: 25px;
 margin-bottom: 22px; 
    
}
.card-info{
    font-family:'Courier New', Courier, monospace;
}

.logo{
    display: flex;
 }
 
 .box5{
     display:flex;
     flex-direction: row;
     align-items: center;
justify-content: center;
margin-left: 9px;
    margin-right: 50px;
 }
 
 .contain{
     margin-top: -24rem;
 }

 @media(max-width:376px){

    .card-content{
      border: none;
      text-align:center;
      color: darkorange;
    }
    
    .card-action{
        margin-top: 5rem;
    }

    
}
   
   
@media screen and (min-width:768px) and (max-width:1009px) {
    /* .contain{
        width: 100%;
    } */
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   