
.button-groups{
    font-size: large;
}
.header2{
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   margin-bottom: -1rem;
    color:black;
 
    background:dimgrey;
} 
 .header3{
  margin-top: -12rem;
  font-family: 'Times New Roman', Times, serif;
 } 
/* 
.boxes {
    width:110%;
        display:flex;
     flex-direction:row;;
    height: 45%;
}  */

/* 
.box-flex{
    display:flex; */

/* 
.card{
    width: max-content;
    height: max-content;
} */
.contain{
    padding-top: 24rem;
}
.typer{
    width: 95.7%;
    margin-left: 10px;
    
    
}

.card-content1{
    height:150px;
  width:100%;
  border:1px solid #ccc;
  text-align:center;
  color: darkorange;
  margin-top: 35px;
}

.card-action {
    text-align: center;
}

/* .card-action3 {
    text-align: center;
   
} */
.center{
    width: 100%;
    
}
.card-title{
    color: darkorange;
    
}
.card-title2{
    color: darkorange;
    font-size: 25px;
 margin-bottom: 22px; 
    
}
.card-info{
    font-family:'Courier New', Courier, monospace;
}
.contain5 {
  /* padding-top: 24rem; */
  padding-bottom: -5rem;
padding-left: 100px;
padding-right: 100px;
} 
.logo{
    display: flex;
 }
 
 .box{
     display:flex;
     flex-direction: row;
 }
 
 .contain{
     margin-top: -24rem;
 }

 @media(max-width:376px){

    .card-content{
      border: none;
      text-align:center;
      color: darkorange;
    }
    
    .card-action{
        margin-top: 5rem;
    }

    
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   