
.score-box {
    /* margin-left: 90rem;
    margin-right: 5rem;
    margin-top: -25rem;
    text-align: center; */
    margin-left: 75rem;
    margin-right: 3rem;
    margin-top: -23rem;
    text-align: center;
    }