
.button-groups{
    font-size: large;
}


.container {
   text-align: center;
    
}
/* style={{backgroundImage:`url(${brainstormer})`, backgroundRepeat:`no-repeat`}} */

.button1 {
    text-align: left;
}


.button2 {
    text-align: right;
}


.button3 {
    text-align: left;
}


.button4 {
    text-align: right;
}

