.dung {
      background-image: url('../../images/dung.png');
      background-size: cover;
      height: 950px;
      width: 1500px;
      border: 5px ridge rgb(7, 7, 7);
      margin: auto;
      z-index: -1;
  }
  
  .irongate {
    background-image: url('../../images/irongate.png');
    background-repeat: no-repeat;
    height: 400px; 
    width: 210px;
    z-index: 2;
    cursor: pointer;
    margin-top: 316px;
    margin-left: 1335px;
  }

  
  