 #footer1{
    background: chocolate;
 }
/* .logo1{
    text-align: right;
    
    margin-bottom: -2rem;
}
.copy{
    text-align: center;
}

.dev{
    margin-top: 10rem;
    margin-left: -2rem;
}
/*  */

 
body {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .copy{
      text-align: center;
  }
  
  @media(max-width:379px){
      .logo1{
       margin-left: 2.25rem;
      }

      .dev {
          margin-left: 7rem;
      }
      .grey-text{
        margin-left: 6.5rem;  
      }
  }
/* 

@media(min-width:1024px) {
    .logo1{
margin-left: -4rem;
    }
    
    .dev {
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-top: 1rem;
        
    }
    /* .grey-text{
      margin-left: 20.5rem;   */
    
 

@media(max-width:768px) {

    .logo1{
        margin-left: -1rem;
       }
 
       .dev {
           margin-left: 25rem;
           margin-top: -15rem;
       }
       .grey-text{
         margin-left: 25rem;  
         margin-right: -5rem;
       }
    }