.carousel{
 margin-top: 25rem;
margin-left: 2rem;
margin-bottom: -23rem;
width: 1000px;
height: 200px;
text-align: center;
}

.main-img{
    margin-bottom: 11rem;
    margin-left: 2rem;
margin-top: 10rem;
    height: 760px;
    width: 1400px;
}

