.containers{
display: flex;
align-items: center;
justify-content: center;
margin-top: 3rem;
}
 

 .main-img{
 width: 950px;
 height: 650px;
 padding-top: 2rem;
 margin-top: 17rem;
 margin-bottom: 2rem

}
@media(max-width:375px) {
 
    .main-img{
        width: 300px;
 height: 300px;
    }

}