.carousel{
 margin-top: 25rem;
margin-left: 2rem;
margin-bottom: -23rem;
width: 1000px;
height: 200px;
text-align: center;
}

.main-img{
    margin-bottom: 2rem;
    height: 725px;
    font-weight: 825px;
}

