 * {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
  }

.body {
    font-size: 62.5%;
    letter-spacing: 1.5px;
    text-align: center;
}

.header2 {
    color: black;
    background:rgb(182, 182, 182)
    /* font-family: "Open Sans", sans-serif; */
}

.backlink {
    color: white;
    text-align: left;
    margin-right: 10px;
    margin-top: 3px;
}

 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
} 

ul > li {
    list-style: none;
}

.card-m,
.reset-btn {
    cursor: pointer;
}

.play-again-btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
}

.match {
    font-size: 1em;
    font-weight: 400;
}

.match-title {
    font-size: 2.7em;
    background-color: #26a69a;
    font-family: sans-serif;
    padding-bottom: 4px;
}

.congrats {
    font-size: 2.5em;
    font-weight: 600;
    font-family: sans-serif;
}

.p {
    font-size: 1.6em;
}

.instructions-m {
    font-family: sans-serif;
}

.score-p {
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 3px;
}

.score-panel {
    text-align: center;
    color: black;
    font-size: 1.4em;
    padding: 1em 0 1em;
    font-family: "Open Sans", sans-serif;
}

.star-rating > li {
    display: inline-block;
    padding: 0.6em;
    border: 1px solid #26a69a;
    background-color: darkorange;
    border-radius: 0.7em;
}

.moves-counter {
    padding: 0.5em;
    color: black;
    margin-bottom: 3px;
}


.timer-counter {
    background: #fff;
    border-radius: 0.5em;
    color: #000;
    margin: 0.7 em;
    padding: 0.5em;
    width: 50%;
}

.timer {
    font-size: 1em;
}

.modal-m {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 61, 73);
    background-color:  rgba(46, 61, 73, 0.6);
}

.modal-m-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: darkgrey;
    margin: 5% auto;
    border: 0.8em solid #26a69a;
    padding-right: 2em;
    width: 80%;
    font-family: sans-serif;
}

.close {
    align-self: flex-end;
    color: #000;
    font-size: 5em;
}

.close:hover,
.close:focus {
    color: #26a69a;
    text-decoration: none;
    cursor: pointer;
}

.modal-m-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn {
    background: darkorange;
    margin-bottom: 1em;
    border-radius: 0.5;
}

.deck {
    background: linear-gradient(to bottom, rgb(95, 95, 95), #26a69a);
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 33em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 33em;
}

.deck,
.card-m {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card-m {
    background: #000;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
}

/* img {
    user-select: none;
    width: 6em;
} */

.deck img {
    visibility: hidden;
    border-radius: 0.5em;
}

.deck .card-m.flip {
    background: darkgrey;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.3s linear;
    pointer-events: none;
}

.flip img {
    background: darkgrey;
    visibility: visible;
}

.deck .card-m.match {
    background: #26a69a;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #363b3b;
}

.reset-btn {
    margin-top: 3px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} 
