.dung {
    background-image: url('../../images/dung.png');
    background-size: cover;
    height: 950px;
    width: 1500px;
    border: 5px ridge rgb(7, 7, 7);
    margin: auto;
}

/* styling for the barrel. DO NOT adjust the location */
.clickbarrel {
    background-image: url('../../images/barrel.png');
    background-repeat: no-repeat;
    height: 300px; 
    width: 310px;
    z-index: -1;
    cursor: pointer;
    margin-top: 770px;
    margin-left: 1070px;
  }

  /* styling for the door and location. Do not update heigh,width, or margins */
.dungdoor {
    background-image: url('../../images/door.png');
    background-repeat: no-repeat;
    height: 800px; 
    width: 410px;
    z-index: -1;
    cursor: pointer;
    margin-top: -750px;
    margin-left: 1335px;
  }

