.dung {
    background-image: url('../../images/dung.png');
    background-size: cover;
    height: 950px;
    width: 1500px;
    border: 5px ridge rgb(7, 7, 7);
    margin-top: 20px;
    z-index: -1;
}

  /* styling for the crate and location. Do not update heigh,width, or margins */
  .crate1 {
    background-image: url('../../images/crate.png');
    background-repeat: no-repeat;
    height: 100px; 
    width: 110px;
    z-index: 1;
    cursor: pointer;
    margin-top: 470px;
    margin-left: 990px;
  }
  

