/* total dung. Do not change.  */
.parent {
  height: 950px;
  width: 1500px;
  margin-top: 20px;
  margin-left: 20px;
}

.dung {
    background-image: url('../../images/dung.png');
    background-size: cover;
    height: 950px;
    width: 1500px;
    border: 5px ridge rgb(7, 7, 7);
    margin: auto;
    z-index: -1;
}

/* styling for the barrel. DO NOT adjust the location */
.clickbarrel {
    background-image: url('../../images/barrel.png');
    background-repeat: no-repeat;
    height: 175px; 
    width: 310px;
    z-index: 1;
    cursor: pointer;
    margin-top: -170px;
    margin-left: 1075px;
  }

  /* styling for the door and location. Do not update heigh,width, or margins */
.dungdoor {
    background-image: url('../../images/door.png');
    background-repeat: no-repeat;
    height: 400px; 
    width: 210px;
    z-index: 2;
    cursor: pointer;
    margin-top: -620px;
    margin-left: 1340px;
  }

  /* styling for the crate and location. Do not update heigh,width, or margins */
  .crate {
    background-image: url('../../images/crate.png');
    background-repeat: no-repeat;
    height: 100px; 
    width: 110px;
    z-index: 1;
    cursor: pointer;
    margin-top: -259px;
    margin-left: 998px;
  }

 /* styling for the barrel and location. Do not update heigh,width, or margins */
 .wbarrel {
    background-image: url('../../images/winebarrel.png');
    background-repeat: no-repeat;
    height: 800px; 
    width: 410px;
    z-index: -1;
    cursor: pointer;
    margin-top: -734px;
    margin-left: 340px;
  }

  

