.header1 {
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
   
    color:black;
    /* background: url); */
    background:dimgrey;
} 

.login-button{
    margin-left: 100rem;
    margin-top: -3.6rem;
}

.callout {
 margin-top: -3rem; 
} 

.score{
    margin: auto;
}


.sign{
    margin: auto;
}

.title3 {
    color:black;
    font-size: 34px;
    font-family: monospace;  
    margin-top: -14rem;  
    margin-left: 7.5rem;
}

.title4 {
    font-size: 34px;
    color:black;
    font-family: monospace;
    margin-left: 50px;
    margin-bottom: 10px;
}
.btn {
    margin-bottom: 1rem;
}

.logo{
    margin-bottom:60px;
}
.typed-text{
    font-size: 25px;
    font-weight: bold;
}
/* 
@media(max-width:375px) {
    .title3{
        font-size: 21px;
        display:inline-block;
        margin-left: -1.5rem; 
        margin-right:-1rem;
        margin-bottom: -0.55rem;
    
         
    }
    .title4{
        font-size: 20px;
        display:inline-block;
        margin-left: 2rem;

         
    }
    .logo{
       margin-left: 3rem;
    }
}

@media(max-width:913px) {
    .title3{
        font-size: 30px;
        display:inline-block;
        margin-left: -2rem; 
        margin-right:-19rem;
        margin-bottom: -1rem;
        margin-top: -15rem;
        padding-top:-5rem ;
         
    }
    .title4{
        font-size: 30px;
        display:inline-block;
        margin-left: 20rem;
        margin-top: -30rem;   
    } 
    .logo{
        margin-left: 25rem;
    }
} */
/* 
@media(min-width:768px min-height:1024px) {
    .title3{
        font-size: 42px;
        display:inline-block;
        margin-left: -20rem; 
        margin-right:-19rem;
        margin-bottom: -2rem;
        margin-top: -13rem;
        padding-top:-5rem ;
         
    }
    .title4{
        font-size: 40px;
        display:inline-block;
        margin-left: 10rem;
        margin-top: -30rem;   
    } 
    .logo{
        margin-left: 18rem;
    }
} */