
.score-box {
margin-left: 70rem;
margin-right: 10rem;
margin-top: -25rem;
text-align: center;
background: darkgrey;
}

.mission1{
font-weight:bolder;
font-size: 25px;
}

.mission{
   
   line-height: 30px;
    }