.header {
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   
    color:black;
    /* background: url); */
    background:dimgrey;
} 

.login-button{
    margin-left: 100rem;
    margin-top: -3.6rem;
}

.callout {
 margin-top: -3rem; 
} 

.score{
    margin: auto;
}


.sign{
    margin: auto;
}

.title {
    color:darkorang;
    margin-top: -11rem;
    
}
.btn {
    margin-bottom: 1rem;
}
/* 
.home{
    background-image: url();
} */
/* .logo{
   display: flex;
   margin-top: 3rem;
}

.box{
    display:flex;
    flex-direction: column;
} */
.logo{
    margin-bottom: 1rem;
}
.typed-text{
    font-size: 23px;

}