.header {
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
   
    color:black;
    /* background: url); */
    background:dimgrey;
} 

.login-button{
    margin-left: 100rem;
    margin-top: -3.6rem;
}

.callout {
 margin-top: -3rem; 
} 

.score{
    margin: auto;
}


.sign{
    margin: auto;
}
/* .container{
     align-items: center; 
    justify-content: center;
    margin-top: 3rem;
} */
.title3 {
    color:black;
    font-family: monospace;  
    margin-top: -14rem;  
    margin-left: 7.5rem;
    font-size: 4.5rem;
}

.title4 {
    font-size: 3.2rem;
    color:black;
    font-family: monospace;
    margin-left: 20rem;
    margin-top: -2.50rem;
    margin-bottom: 1rem;
}
.btn {
    margin-bottom: 1rem;
}

.logo{
    margin-bottom: -1rem;
}
.typed-text{
    font-size: 25px;
    font-weight: bold;
}

@media(max-width:379px) {
    .title3{
        font-size: 23px;
        display:inline-block;
        margin-left: -1.5rem; 
        margin-right:-1rem;
        margin-bottom: 1rem;
    
         
    }
    .title4{
        font-size: 22px;
        display:inline-block;
        margin-left: 2rem;

         
    }
    .logo{
       margin-left: 3rem;
    }
}
