.header {
    font-size: larger;
    text-align: center;
    background: center;
    color:black;
}

.login-button{
    margin-left: 100rem;
    margin-top: -3.6rem;
}

.home{

/* background-image: url(brain2.PNG); */
/* position: relative; */
/* 
background-position: center;
height: 90vh */
}
