.header {
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   
    color:black;
    /* background: url); */
    background:dimgrey;
} 

.login-button{
    margin-left: 100rem;
    margin-top: -3.6rem;
}

.callout {
 margin-top: -3rem; 
} 

.score{
    margin: auto;
}


.sign{
    margin: auto;
}

.title {
    color: darkorange;
    
}
.btn {
    margin-bottom: 1rem;
}