/* brining in the dependicies */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/* background image from amazon storage */
.background-startpage {
    background: rgba(43, 3, 88, 0.568);
    height: 1000px;
    z-index:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.card-title3 {
  font-size: x-large
}

/* Start button */
.start {
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    color: black;
    background-color: grey;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    position: relative;
    left: 50%;
    right: 50%;
}

/* start button hover over view */
.start:hover {
  border: 2px solid black;
    background-color: lightblue
}

/* this is the sign post */
.info-card2{
    /* image in folder */
    background-image: url("../../images/cratenote.png");
    background-size: 100% 100%;
    height: 739px;
    width: 640px; 
    margin-top: 105px;
    left:50%;
    right:50%;
    position:absolute;
    z-index: 0;
    color: black;
}

/* text within the card */
.card-body {
    margin: 150px 85px 100px 70px;
}

.card-title {
    text-align: center;
    font-size: 20px;
}

.card-text {
    font-size: 17px;
}

/* moving background code copied, but only using the forest without animations  */
.night-background{
    z-index:0;
}

body {
    background: #b8e7fd;
    position: relative;
    z-index: 0;
    height:1000px;
  }
  
  .moon {
    background: url('https://www.svgrepo.com/show/132831/full-moon.svg') 0 0 no-repeat;
    height: 158px;
    position: absolute;
    right: 73%;
    top: 27%;
    width: 179px;
    z-index: 0;
  }
  
  .tree01-start {
    /* animation: treesmoving 35s linear 2s infinite reverse backwards;  */
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/579121/pinetree1.svg') no-repeat;
    bottom: 30px;
    height: 292px;
    position: absolute;
    width: 263px;
    z-index: 0;
  }
  
  .tree02-start {
    /* animation: treesmoving 23s linear 6s infinite reverse backwards;  */
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/579121/traingletree.svg') no-repeat;
    bottom: 24px;
    height: 320px;
    position: absolute;
    width: 212px;
    z-index: 0;
  }
  
  .tree03-start {
    /* animation: treesmoving 18s linear 4s infinite reverse backwards;  */
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/579121/pinetree2.svg') no-repeat;
    bottom: 10px;
    height: 435px;
    position: absolute;
    width: 391px;
    z-index: 0;
  }
  
  .tree04-start {
    /* animation: treesmoving 30s linear infinite reverse;  */
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/579121/traingletree.svg') no-repeat;
    bottom: 25px;
    height: 278px;
    position: absolute;
    width: 184px;
    z-index: 0;
  }
  
  .forest-background-start {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/579121/forest-background-opt.svg') no-repeat;
    background-position: 0px 0px;
      background-repeat: repeat-x;
      /* animation: animatedBackground 12s linear infinite reverse; */
    bottom: 25%;
    height: 310px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .road {
    background: #c39d7a;
    bottom: 0;
    height: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }