body {
  color:darkorange;
  background: darkgray;
  font-weight: 400;
 
}
.sign-btn{
  text-align: center;
}

/* ***************GAMEDOCK********************* */

.game-dock{
 background: darkgrey;
 
}

/* ********************HEADERQUOTE********************** */

.title {
  color:darkorang;
  margin-top: -12rem;
margin-left: 8rem;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  
}

.title2 {
  color:darkorang;
  margin-left: 17rem;
  font-size: 3rem;
  margin-top: -2.80rem;
  font-family: 'Courier New', Courier, monospace;
}

/* **************************login modal************************************** */

.signin-buttons{
 margin-left: -40rem;
 margin-bottom: -5rem;
}