.headerz {
    font-size: larger;
    text-align: center;
    background: center;
    color:black;
    margin-top: 1rem;
}

button{
    margin-left: 50rem;
    margin-top: -3.6rem;
}

.header8{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: -210px;
    
    
  
}
.header-buttons{
    
margin-bottom: -9px;
}