.headerz {
    font-size: larger;
    text-align: center;
    background: center;
    color:black;
     margin-top: -15rem;
} 


/* button{
    margin-left: 50rem;
    margin-top: -3.6rem;
} */

.header8{
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 4px;
    margin-top: -15px;
    
<<<<<<< HEAD
}


.callout24{
margin-bottom: 18px;


=======
  
>>>>>>> baa5a1740f5dfae3fb01ee79f94709095faad9a3
}
.header-buttons{
    
margin-bottom: -9px;
}